<div class="books_container container">
  <h1 class="shopping-list_title">Shopping <span class="violet">List</span></h1>
  <ul class="shopping-list"></ul>
  <div class="pagination">
    <span class="pagination_btn-to-start static-btn  disabled "> 
      <svg class="move"  height="22" width="22">
        <use xlink:href="../img/symbol-defs.svg#icon-arrow-left" />
    </svg >
      <svg height="22" width="22">
      <use xlink:href="../img/symbol-defs.svg#icon-arrow-left" />
    </svg>

</span>
<span class="pagination_btn-to-prev disabled static-btn" >
  <svg height="22" width="22">
    <use xlink:href="../img/symbol-defs.svg#icon-arrow-left" />
</svg>
</span>

<span class="pagination_btn-to-next disabled  static-btn"> 
  <svg height="22" width="22">
  <use xlink:href="../img/symbol-defs.svg#icon-arrow-right" />
</svg>
</span>
<span class="pagination_btn-to-end disabled  static-btn">
  <svg class="move"  height="22" width="22">
    <use xlink:href="../img/symbol-defs.svg#icon-arrow-right" />
  </svg>
  <svg  height="22" width="22">
    <use xlink:href="../img/symbol-defs.svg#icon-arrow-right" />
  </svg>
</span>
  </div>
</div>
