<!-- mob-menu -->
    <div class="mob-menu js-mob-menu " >
      <ul class="mob-menu-list js-mob-list list">
        <li class="mob-menu-item">
          <a href="/" class="mob-nav-link link current-page">Home</a>
        </li>
        <li class="mob-menu-item">
          <a href="/basket.html" class="mob-nav-link link">Shopping list
            <svg class="shoplist-icon">
              <use href="./img/symbol-defs.svg#icon-uil_cart"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- mob-menu -->