<div class='slider-wrapper'>
  <div class='slider'></div>
</div>

<!--<div class='slider-wrapper'>-->
<!--  <div class='slider'></div>-->
<!--</div>-->

<div class="swiper mySwiper">
  
    <div class="title">
      <img src="imeges_slider/text.png" 
      alt="картинка">
    </div> 
  
  <div class="swiper-button-prev" style='background: blue; width: 40px; height: 40px'></div>
  
  <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis" target="_blank" rel="noopener noreferrer"> 
        <img src="imeges_slider/1.png" 
        alt="картинка">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="https://www.projecthope.org/country/ukraine" target="_blank" rel="noopener noreferrer"> 
          <img src="imeges_slider/2.png" 
          alt="картинка">
          </a>
      </div>
      <div class="swiper-slide">
        <a href="https://internationalmedicalcorps.org/country/ukraine/" target="_blank" rel="noopener noreferrer"> 
        <img src="imeges_slider/3.png" 
        alt="картинка">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="https://www.razomforukraine.org" target="_blank" rel="noopener noreferrer"> 
        <img src="imeges_slider/4.png" 
        alt="картинка">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="https://www.actionagainsthunger.org/location/europe/ukraine/" target="_blank" rel="noopener noreferrer"> 
        <img src="imeges_slider/5.png" 
        alt="картинка">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="https://www.wvi.org/emergencies/ukraine" target="_blank" rel="noopener noreferrer"> 
        <img src="imeges_slider/6.png" 
        alt="картинка">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="https://www.msf.org/ukraine" target="_blank" rel="noopener noreferrer"> 
        <img src="imeges_slider/7.png" 
        alt="картинка">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="https://www.wvi.org/emergencies/ukraine" target="_blank" rel="noopener noreferrer"> 
        <img src="imeges_slider/8.png" 
        alt="картинка">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="https://u24.gov.ua/uk" target="_blank" rel="noopener noreferrer"> 
        <img src="imeges_slider/9.png" 
        alt="картинка">
        </a>
      
    </div>
    
  </div>
  <div class="swiper-button-next" style='background: blue; width: 40px; height: 40px'></div>
</div>



 
 	
[
  {
    title: 'Save the Children',
    url:
      'https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis',
    img: null,
  },
  {
    title: 'Project HOPE',
    url: 'https://www.projecthope.org/country/ukraine/',
    img: null,
  },
  {
    title: 'UNITED24',
    url: 'https://u24.gov.ua/uk',
    img: null,
  },
  {
    title: 'International Medical Corps',
    url: 'https://internationalmedicalcorps.org/country/ukraine/',
    img: null,
  },
  {
    title: 'Medicins Sans Frontieres',
    url: 'https://www.msf.org/ukraine',
    img: null,
  },
  {
    title: 'RAZOM',
    url: 'https://www.razomforukraine.org/',
    img: null,
  },
  {
    title: 'Action against hunger',
    url: 'https://www.actionagainsthunger.org/location/europe/ukraine/',
    img: null,
  },
  {
    title: 'World vision',
    url: 'https://www.wvi.org/emergencies/ukraine',
    img: null,
  },
  {
    title: 'Serhiy Prytula Charity Foundation',
    url: 'https://prytulafoundation.org/en',
    img: null,
  },
]