<div class="slider-wrapper">
  <div class="slider mySupportBlockSwiper">
    <div class="slider-title-container">
      <h2 class="swiper-title">Support Ukraine</h2>
      <img src="../img/national-emblem.svg" alt="Ukraine emblem" />
    </div>
    <div class='support-swiper-wrapper'>
      <div class="swiper support-swiper">
        <div class="swiper-list swiper-wrapper">
          <div class="list-item swiper-slide">
            <div class="list-item-flex">
              <p class="list-item-number">01</p>
              <div class='img-wrapper'>
                <picture>
                  <source
                    srcset="
                      ../img/support-ukraine/block-01-1x.png 1x,
                      ../img/support-ukraine/block-01-2x.png 2x
                    "
                    media="(min-width: 320px)"
                    width="129"
                  />
                  <img
                    class="list-item-image"
                    src="../img/support-ukraine/block-01-1x.png"
                    alt="Save the Children"
                    width="129"

                /></picture>
              </div>
            </div>
          </div>
          <div class="list-item swiper-slide">
            <div class="list-item-flex">
              <p class="list-item-number">02</p>
              <div class='img-wrapper'>
              <picture>
                <source
                  srcset="
                    ../img/support-ukraine/block-02-1x.png 1x,
                    ../img/support-ukraine/block-02-2x.png 2x
                  "
                  media="(min-width: 320px)"
                  width="62"
                   />
                <img
                  class="list-item-image"
                  src="../img/support-ukraine/block-02-1x.png"
                  alt="Save the Children"
                  width="62"

              /></picture>
            </div>
            </div>
          </div>
          <div class="list-item swiper-slide">
            <div class="list-item-flex">
              <p class="list-item-number">03</p>
              <div class='img-wrapper'>
              <picture>
                <source
                  srcset="
                    ../img/support-ukraine/block-03-1x.png 1x,
                    ../img/support-ukraine/block-03-2x.png 2x
                  "
                  media="(min-width: 320px)"
                  width="101"
                   />
                <img
                  class="list-item-image"
                  src="../img/support-ukraine/block-03-1x.png"
                  alt="Save the Children"
                  width="101"

              /></picture>
            </div>
            </div>
          </div>
          <div class="list-item swiper-slide">
            <div class="list-item-flex">
              <p class="list-item-number">04</p>
              <div class='img-wrapper'>
              <picture>
                <source
                  srcset="
                    ../img/support-ukraine/block-04-1x.png 1x,
                    ../img/support-ukraine/block-04-2x.png 2x
                  "
                  media="(min-width: 320px)"
                  width="82"
                   />
                <img
                  class="list-item-image"
                  src="../img/support-ukraine/block-04-1x.png"
                  alt="Save the Children"
                  width="82"

              /></picture>
            </div>
            </div>
          </div>
          <div class="list-item swiper-slide">
            <div class="list-item-flex">
              <p class="list-item-number">05</p>
              <div class='img-wrapper'>
              <picture>
                <source
                  srcset="
                    ../img/support-ukraine/block-05-1x.png 1x,
                    ../img/support-ukraine/block-05-2x.png 2x
                  "
                  media="(min-width: 320px)"
                  width="55"
                   />
                <img
                  class="list-item-image"
                  src="../img/support-ukraine/block-05-1x.png"
                  alt="Save the Children"
                  width="55"

              /></picture>
            </div>
            </div>
          </div>
          <div class="list-item swiper-slide">
            <div class="list-item-flex">
              <p class="list-item-number">06</p>
              <div class='img-wrapper'>
              <picture>
                <source
                  srcset="
                    ../img/support-ukraine/block-06-1x.png 1x,
                    ../img/support-ukraine/block-06-2x.png 2x
                  "
                  media="(min-width: 320px)"
                  width="115"
                   />
                <img
                  class="list-item-image"
                  src="../img/support-ukraine/block-06-1x.png"
                  alt="Save the Children"
                  width="115"

              /></picture>
            </div>
            </div>
          </div>
          <div class="list-item swiper-slide">
            <div class="list-item-flex">
              <p class="list-item-number">07</p>
              <div class='img-wrapper'>
              <picture>
                <source
                  srcset="
                    ../img/support-ukraine/block-07-1x.png 1x,
                    ../img/support-ukraine/block-07-2x.png 2x
                  "
                  media="(min-width: 320px)"
                  width="102"
                   />
                <img
                  class="list-item-image"
                  src="../img/support-ukraine/block-07-1x.png"
                  alt="Save the Children"
                  width="102"

              /></picture>
            </div>
            </div>
          </div>
          <div class="list-item swiper-slide">
            <div class="list-item-flex">
              <p class="list-item-number">08</p>
              <div class='img-wrapper'>
              <picture>
                <source
                  srcset="
                    ../img/support-ukraine/block-08-1x.png 1x,
                    ../img/support-ukraine/block-08-2x.png 2x
                  "
                  media="(min-width: 320px)"
                  width="81"
                   />
                <img
                  class="list-item-image"
                  src="../img/support-ukraine/block-08-1x.png"
                  alt="Save the Children"
                  width="81"

              /></picture>
            </div>
            </div>
          </div>
          <div class="list-item swiper-slide">
            <div class="list-item-flex">
              <p class="list-item-number">09</p>
              <div class='img-wrapper'>
              <picture>
                <source
                  srcset="
                    ../img/support-ukraine/block-09-1x.png 1x,
                    ../img/support-ukraine/block-09-2x.png 2x
                  "
                  media="(min-width: 320px)"
                  width="114"
                   />
                <img
                  class="list-item-image"
                  src="../img/support-ukraine/block-09-1x.png"
                  alt="Save the Children"
                  width="114"

              /></picture>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-button-down swiper-button">
    <img src="../img/arrow-down-icon-support-button.svg" alt="down" width="20px" height="20px" />
  </div>
  <div class="swiper-button-up swiper-button">
    <img src="../img/arrow-down-icon-support-button.svg" alt="down" width="20px" height="20px" />
  </div>
</div>

