.categories {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  overflow-y: scroll;
  max-height: 228px;
  padding-right: 28px;
}
.categories::-webkit-scrollbar {
  width: 8px;
  height: 114px;
}

.categories::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 12px;
}
.categories-item {
  color: rgba(17, 17, 17, 0.6);
  cursor: pointer;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.32px;
  transition: color 0.25s, font-weight 0.25s, text-transform 0.25s;
}
.categories-item:first-child {
  font-weight: 700;
  text-transform: uppercase;
}

.categories-item:hover,
.categories-item:focus {
  color: #4f2ee8;
}

@media screen and (min-width: 768px) {
  .categories-wrapper {
    margin-right: 32px;
  }
  .categories {
    gap: 32px;
    max-height: 472px;
  }
  .categories::-webkit-scrollbar {
    height: 167px;
  }
  .categories-item {
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: -0.36px;
  }
  .categories-item:hover,
  .categories-item:focus {
    color: #4f2ee8;
  }
}

@media screen and (min-width: 1448px) {
  .categories-wrapper {
    margin-right: 40px;
  }
}
/* як відцентрувати контент по центру  , і при чорній темі як scc написати правильно */
