.container {
  width: 100%;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

@media screen and (min-width: 1448px) {
  .container {
    padding: 0 24px;
    width: 1448px;
    margin: auto;
  }
}