.container {
  width: 100%;
  padding: 0 20px;
}

.row {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

section {
  padding: 40px 0;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
  .row {
    gap: 98px;
  }
}

@media screen and (min-width: 1448px) {
  .container {
    padding: 0 24px;
    width: 1448px;
    margin: auto;
  }
  .row {
    gap: 40px;
    flex-direction: row;
  }
}