:root {
  --black: #111;
  --black-body: #202024;
  --violet: #4f2ee8;
  --yellow: #eac645;
  --white: #fff;
}

.container {
  width: 100%;
  padding: 0 20px;
}

.row {
  display: flex;
  gap: 40px;
  flex-direction: column;

  /* align-items: center; */
}
imd {
  display: block;
}

section {
  /* padding: 115px 0 40px; */
  padding: 112px 0 40px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.spinner {
  box-shadow: rgba(0, 0, 0, 0.7) 0 0 0 1000px;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    width: 768px;
  }
  .row {
    gap: 98px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0 24px;
    width: 1440px;
  }
  .row {
    display: flex;
    gap: 40px;
    flex-direction: row;
  }
}
