.menu {
  display: none;
}

.btn-sign-up {
  display: none;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 18px 0;
  border-radius: 0 0 8px 8px;
  border: 1.5px solid var(--black);
  background: var(--white);
}

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo-link {
  cursor: pointer;
  width: 110px;
  display: flex;
  align-items: center;
}

.logo-icon {
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

.logo-icon-name {
  width: 77px;
  height: 13px;
}

.header-mob-menu {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: auto;
}

.switch-input {
  margin-right: 14px;
  width: 40px;
  height: 20px;
}

.switch-input:checked + .switch::after {
  transform: translate(21px);
}

.switch-input:checked + .switch::before {
  background: linear-gradient(180deg, var(--violet) 0%, #686868 100%);
}

.switch {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 100%;
  margin-right: 14px;
}

.switch::before {
  content: '';
  width: 40px;
  height: 20px;
  border-radius: 50px;
  background: linear-gradient(180deg, var(--violet) 0%, #dcdcdc 100%);
  transition-duration: 250ms;
}

.switch::after {
  content: '';
  position: absolute;
  left: 1px;
  top: 1px;
  width: 18px;
  height: 18px;
  border-radius: 50px;
  background-color: var(--white);
  transition-duration: 250ms;
}

.menu-open-btn {
  padding: 0;
  width: 28px;
  height: 28px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.icon-burger {
  width: 28px;
  height: 28px;
  stroke: var(--black);
}

.icon-burger:hover,
.icon-burger:focus {
  stroke: var(--violet);
}

/** ------------------ MOB-MENU ------------------ **/

.menu-close-btn {
  /* position: absolute; */
  top: 18px;
  right: 20px;
  padding: 0;
  width: 28px;
  height: 28px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-munu-close {
  width: 28px;
  height: 28px;
  stroke: var(--black);
}

.icon-munu-close:hover,
.icon-munu-close:focus {
  stroke: var(--violet);
}

.mob-menu {
  z-index: 2;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  bottom: 0;

  height: 100%;
  width: 100%;
  display: table;

  padding-top: 247px;

  background: url(../img/Group-books.png),
    radial-gradient(
      189.32% 190.93% at 59.76% -23.42%,
      var(--violet) 18.03%,
      var(--white) 100%
    );
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;

  /* transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */

  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(0.000001);
}

.mob-menu.is-open {
  transform: translateY(0);
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 155px;
  margin-left: auto;
  margin-right: auto;
}

.mob-menu-item {
  display: flex;
  gap: 4px;
  align-items: center;
  min-width: 118px;
}

.mob-nav-link {
  position: relative;
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.56px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.shoplist-icon {
  width: 20px;
  height: 20px;
  fill: var(--white);
  margin-left: 4px;
}

li a.current-page {
  font-weight: 700;
  background-color: var(--yellow);

  border-radius: 36px;
  display: flex;
  padding: 8px 16px;
  color: var(--black);
}

a.current-page .shoplist-icon {
  fill: var(--black);
}

.login {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 118px;
  height: 48px;
  border-radius: 18px;
  border: 1.5px solid var(--black);

  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-login {
  width: 20px;
  height: 20px;
  stroke: var(--yellow);
  margin-left: 4px;
}

.photo-user {
  position: absolute;
  top: 84px;
  left: 20px;
  width: 37px;
  height: 37px;
  background-color: var(--white);
  border-radius: 50%;
}

/** ------------------ TABLET 768 ------------------ **/
@media screen and (min-width: 768px) {
  .page-header {
    padding: 14px 32px;
  }

  .menu-open-btn {
    display: none;
  }

  .menu {
    display: flex;
    align-items: center;
    margin-left: 40px;
  }

  .menu-item {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 16px;
  }

  .header-nav-link {
    position: relative;
    color: var(--black);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.28;
    letter-spacing: -0.56px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }

  .shoplist-icon {
    width: 20px;
    height: 20px;
    fill: var(--black);
    margin-left: 8px;
  }

  li a.current-page {
    font-weight: 700;
    background-color: var(--yellow);
    border-radius: 36px;
    display: flex;
    padding: 8px 16px;
  }

  li:nth-child(2) a.current-page {
    margin-left: 8px;
  }

  .switch {
    margin-right: 24px;
  }

  .btn-sign-up {
    display: block;
    padding: 0;
    width: 184px;
    height: 45px;
    cursor: pointer;
    border: none;
    border-radius: 36px;
    background-color: var(--violet);
  }
}

/** ------------------ DECSTOP 1158 ------------------ **/
@media screen and (min-width: 1448px) {
  .page-header {
    padding: 14px 24px;
  }

  .menu {
    margin-left: 92px;
  }

  .header-nav-link {
    position: relative;
  }
}

/* dark theme */

.dark-theme {
  background-color: var(--black-body);
}

.dark-theme .page-header {
  background: var(--black);
  color: var(--white);
}

.dark-theme .logo-icon-name {
  fill: var(--white);
}

.dark-theme .icon-burger,
.dark-theme .icon-munu-close {
  stroke: var(--white);
}

.dark-theme .header-nav-link {
  color: var(--white);
}

.dark-theme .header-nav-link.current-page {
  color: var(--black);
}

.dark-theme .shoplist-icon {
  fill: var(--white);
}
