.no-scroll {
  overflow: hidden;
}

.amazon-m {
  width: 62px;
  height: 19px;
  filter: grayscale(100%);
}
.amazon-m:hover {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}

.book-link-m:hover {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}

.book-link-m {
  width: 33px;
  height: 32px;
  filter: grayscale(100%);
}

.backdrop {
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
}

.backdrop.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.hidden .js-modal {
  transform: translate(-50%, -50%) scale(1.3);
}

.color-body:after {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(17, 17, 17, 0.4);
  z-index: 1;
}

.js-modal {
  max-width: 335px;
  height: inherit;
  max-height: 806px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  margin: 0 auto;
  padding: 40px 24px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform cubic-bezier(0.4, 0, 0.2, 1);
  top: 54%;
  left: 50%;
  border: 2px solid rgba(17, 17, 17, 1);
  border-radius: 18px;
  background-color: #fff;
  z-index: 2;
}
.modal-book-image{
  width: 287px;
  height: 408px;
  border-radius: 8px;
  margin-bottom: 14px;
}

.block-info h2{
  color: #111;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.64px;
  margin-bottom: 4px;
}
.author {
  color: #B4AFAF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.48px;
  margin-bottom: 18px;
}

.module-close-btn {
  content: '';
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 28px;
  height: 28px;
  border: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.module-description {
  color: #111;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
  margin-bottom: 14px;
}

.module-vector {
  width: 26px;
  height: 26px;
}

.btn-module-add {
  max-width: 283px;
  height: 50px;
  padding: 14px 22px;
  color: #111;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  border-radius: 40px;
  border: 2px solid #4F2EE8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-module-add:hover,
.btn-module-add:focus{
  color: white;
  background-color: #4F2EE8;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.15);

}
.modal-links{
  gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.block-modal-info{
  margin-bottom: 44px;

}
.modal-text-info.hidden{
  display: none;
}
.block-modal-info .buttons-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}
.block-modal-info .amazon, .book_buy-links_item .amazon {
  display: block;
  width: 62px;
  height: 19px;
  background: url("../img/amazon-img-m.png");
}

.block-modal-info .book, .book_buy-links_item .book {
  display: block;
  width: 33px;
  height: 32px;
  background: url("../img/book-image-m.png");
}

.modal-text-info{
  color: rgba(17, 17, 17, 0.50);
  text-align: center;
  font-family: DM Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2; /* 120% */
  letter-spacing: -0.4px;
  width: 242px;
  margin: 8px auto 0 auto;
}

@media screen and (min-width: 768px) {
  .js-modal {
    max-width: 579px;
    max-height: 501px;
    align-items: flex-start;
    padding: 40px;
  }
  .block-modal-info{
    display: flex;
    gap: 24px;
  }
  .modal-book-image{
    width: 192px;
    height: 281px;
    flex-shrink: 0;
  }
  .block-modal-info {
    margin-bottom: 40px;
  }
  .btn-module-add{
    max-width: 499px;
    width: 100%;
  }
  .modal-text-info{
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.48px;
    width: 324px;
  }
}
