.books-title {
  color: #111111;
  font-family: DM Sans, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: -1.28px;
  margin-bottom: 40px;
}
.books-title span {
  color: #4f2ee8;
}

.category-name {
  color: #b4afaf;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.category-button {
  display: block;
  color: #111111;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  padding: 14px 28px;
  background: #f6f6f6;
  border-radius: 40px;
  border: 2px solid #4f2ee8;
  cursor: pointer;
  margin-top: 8px;
  margin-left: auto;
  transition: 250ms ease;
}

.category-button:hover,
.category-button:focus {
  border-color: #111111;
  background: #4f2ee8;
  color: #ffffff;
}
.swiper.mySwiper {
  z-index: 0;
}

.dark-theme .category-button {
  background-color: transparent;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .category-button {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .category-button {
    margin-top: 32px;
  }
}
